@import "_bootstrap.scss";

div.map-container {
  position: relative;
}
div.map {
  /*position: absolute;*/
  background: #eee;
  border: 1px solid #aaa;
  min-height: 150px;
  min-width: 150px;
  transition: all .25s ease .2s;
  margin: 0 auto;
}
div.map img {
  max-height: none;
}

h4.theme-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img.theme-thumb {
  cursor: pointer;
}

.code {
  font-family: $font-family-monospace;
  font-size: small;
}